html, body, h1, h2, h3, h4, h5, h6, p, a, div, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #fff;
}
html{
    background-color: rgb(13, 14, 71);
}
body{
	font-size:20px;
	font-family: 'Raleway', sans-serif;
}
/*-------------------------------Header--------------------------------------*/
header{
	margin: 0 auto;
	height: 200px;
}
/*------------------------------MENU----------------------------------*/
.menu_icon img{
	width: 35px;
	padding: 3px;
}
/*-------------------------------Navbar-------------------------------------*/
ul {
	list-style: none;
	font-family: 'Monoton', cursive;
}
.sidenav {
	height: 100vh;
	width: 60px;
	position: fixed;
	font-size: 18px;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(219, 47 , 0, 0.77);
  	transition: 0.5s;
	padding-top: 10px;
	overflow: hidden;
}
.sidenav a {
	padding: 7px 10px;
	font-family: 'Monoton', cursive;
	text-decoration: none;
	color: #c8deff;
	transition: 0.3s;
}
.sidenav a:hover{
	color: white;
}
.item{
	display: flex;
}
.fa{
	padding: 15px;
	font-size: 120%;
}
.dropdown-content{
	display: inline-block;
}
.dropdown:hover .dropdown-content{
	padding: 5px 2em;
	display: block;
}
.blinking:hover{
    animation:blinker 1.2s linear infinite;
}
@keyframes blinker{
    50% {
    	opacity: 0.1;
    }
}

/*-------search-----------*/

.search-box{
	background-color: rgba(92, 158, 255, 0.6);
	padding: 3px;
	margin-bottom: 10px;
	height: 35px;
	border-radius: 30px;
	z-index: 2;
}
.search-box:hover> .search-txt{
	width:160px;
	padding: 0 5px;
}
.search-box:hover > .search-btn{
	background: #fff;
	color:#469bdd;
	text-decoration: none;
}
.search-btn{
	color: #fff;
	float:left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}
.search-txt{
	border:none;
	background:none;
	outline:none;
	float:left;
	padding:0;
	color:#fff !important;
	text-decoration: none;
	font-size: 15px;
	transition: 0.4s;
	line-height: 30px;
	width: 0;
}
::placeholder{
	color: rgba(255, 255, 255,0.4);
	font-family: 'Fredoka One', cursive;
}
/*------------------------------BODY----------------------------------*/
/*----------------------------posters---------------------------------*/
.container{
	margin-top: 2em;
}
.poster
{
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	border-radius: 30px;
	border: 3px solid rgba(219, 47 , 0, 1);
}
.thumbnail
{
	background-color:rgba(12, 10, 133,0.5);
	padding:2em;
	border-radius: 30px;
	border: 10px solid rgba(0, 255 , 255, 0.5);
	margin: 1em 0.5em;
}
.thumbnail h3{
	font-family: 'Press Start 2P', cursive;
}
.thumbnail p{
	font-family: 'Fredoka One', cursive;
	color: rgba(255, 255, 255, 0.8);
}
.more {
	display: none;
}
.thumbnail:hover .more{
	transition: 3s;
	display: inline-block;
}
.fa{
	color: rgba(39, 197, 255, 0.8);
	padding: 5px 10px 5px 0;
}

#myBtn{
	position: relative;
	font-family: 'Press Start 2P', cursive;
	width: 160px;
	height: 40px;
	border: none;
	border-radius: 30px;
	padding: 5px;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 6px;
	transition: 0.1s;
	z-index: 1;
	overflow: hidden;
	}
#myBtn:hover{
	color:#fff;
}
#myBtn:before{
	content: '';
	position: absolute;
	top:0;
	right:0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(219, 47 , 0, 0.1);
	filter: blur(4px);
	transition: 5s;
	z-index: -1;
}
#myBtn:hover:before{
	background: rgba(219, 47 , 0, 0.5);
	transform: scaleX(5);
}
#myBtn:after{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(252, 122, 86, 0.2);
	filter: blur(4px);
	transition: 1s;
	z-index: -1;
	mix-blend-mode: lighten;
}
#myBtn:hover:after{
	background: rgba(252, 122, 86, 1);
	transform: scaleX(4);
}
/*-------------------------------------------FOOTER--------------------------------*/
footer{
	height: 200px;
}