{% extends 'post/postcreate.html' %}
{% load static %}
{% block create %}
    <style>
        .helptext, li{
            display: none;
        }
        .username{
                display: none;
            }
    </style>
    <a href="{% url 'accounts:editProfile' %}" title="Return to Profile">
       <img src="{% static 'images/review.png' %}" class="favourite">
    </a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Change" style="letter-spacing: 0px;
                       width: 120px;background: rgb(115,158,225);
                       color: #fff; float: left; padding: 5px;
                       font-family: 'Press Start 2P', cursive;">
    </form>
<script>
		function openNav() {}
{% endblock %}