{% extends 'register_base.html' %}
{%  load static %}
<style>
    body{
				background-image: url({% static 'images/space.gif'%});!important;
    }
</style>
{% block content %}
    <style>
    .screen img{
            width:500px;
            height: 400px;
            border-radius: 35%;
        }
    .welcome{
        position: absolute;
        padding: 15%;
        line-height: 1.6;
        text-align: center;
        color: #c8deff;
        letter-spacing: 7px;
        bottom: 0%;
    }
    a{
        color: #4fe5e5;
    }
    .blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
    }
    @-webkit-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    @-moz-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    @-ms-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    @-o-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }
    </style>
    <img src="{% static 'images/space.gif' %}">
    <div class="welcome">
        <h1>Welcome<br>to<br>OVERGAME<br>{{ user.username }} </h1>
        <a href="{% url 'main' %}" class="blink">CONTINUE</a>
    </div>

{% endblock %}