{% extends 'base.html' %}
{% load static %}
{% block content %}

                <style>

                    #profileTop{
                        background: #076283;
                        width: 900px;
                        height: 250px;
                        margin: 50px auto 0;
                        opacity: 95%;
	                    border: 10px solid rgba(0, 255 , 255, 0.5);
                        border-bottom: none;
                    }
                    .person {
                        width: 160px;
                        margin: 25px 40px;
                        background-size: cover;
                        float: left;
                        text-transform: uppercase;
                        text-align: center;
                    }
                    .person p{
                        font-family: 'Press Start 2P', cursive;
                        font-size: 80%;
                        color: #4fe5e5;
                        background-color: #0d0e47;
                    }
                    #ava{
                        width: 160px;
                        height: 155px;
                        background-size: cover;
                        float: left;
                        overflow: hidden;
                        border: 5px solid #0d0e47;
                    }
                    #ava img{
                        width: 150px;
                        height: auto;
                        background-color: #ffffff;
                    }
                    #description{
                        width: 250px;
                        height: 150px;
                        margin: 25px 5px;
                        float: left;
                    }
                    .leftPart{
                        margin: 8px 0;
                        padding: 8px 0;
                    }
                    .rightPart{
                        width: 250px;
                        height: 150px;
                        margin: 25px 40px;
                        float: right;
                    }
                    #editProfile{
                        background-color: #4fe5e5;
                        color: white;
                        padding: 10px 30px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        margin: 20px 20px 20px 35%;
                        cursor: pointer;
                    }
                    #profileBottom{
                        background: rgba(24,34, 91, 0.9);
                        width: 900px;
                        margin: 0 auto;
	                    border: 10px solid rgba(0, 255 , 255, 0.5);
                        border-top: none;
                    }
                    h3{
                        height: 50px;
                        padding: 40px;
                    }
                    #achievements{
                        width: 100%;
                        height: 50px;
                    }
                    .firstBlock{
                        margin-left: 40px;
                    }
                    .block{
                        width: 50px;
                        height: 50px;
                        background: #a59fdd;
                        float: left;
                        margin-right: 25px;
                    }
                    #listFavGames{
                        width: 100%;
                    }
                    .scroll, .scroll1{
                        width: 90%;
                        text-align: center;
                        margin: 5%;
                        display: inline-block;
                    }
                    #userPosts{
                        width: 90%;
                        height: 160px;
                        margin: auto;
                        overflow: hidden;
                        white-space:nowrap;
                    }
                    #slideLeft,
                    #slideRight, #slideLeft1,
                    #slideRight1 {
                        display: inline-block;
                        border-radius: 100%;
                        padding: 5px;
                        background-color: rgba(219, 47 , 0, 0.9);
                    }
                    .gameItem{
                        position: relative;
                        background-color: rgba(165, 159, 221, 0.8);
                        border-radius: 15px;
                        padding: 5px;
                        text-align: center;
                        display: inline-block;
                        width: 120px;
                        height: 140px;
                        margin: 10px;
                    }
                    .gameItem img{
                        width:110px;
                        height: 110px;
                        border-radius: 15px;
                        border: 2px solid #0d0e47;
                    }
                    .gameItem p{
                        font-family: 'Fredoka One', cursive;
                        color: #0d0e47;
                        overflow: hidden;
                    }
                    h1, h2, h3, h4, h5, p, .nickname, .empty{
                        font-family: 'Press Start 2P', cursive;
                    }
                    .empty a{
                        font-family: 'Press Start 2P', cursive;
                        color: rgba(219, 47 , 0, 0.9);
                        text-transform: uppercase;
                    }
                </style>

		<main>

                <div id="profileTop">
                    <div class="person">
                        <div id="ava">
                            {% if user.userprofile.profile_pic.url %}
                                <img src="{{ user.userprofile.profile_pic.url }}">
                            {% else %}
                                <img src="{% static 'images/noavatar.png' %}">
                            {%  endif %}
                        </div>
                        <p>{{ user.first_name }} {{ user.last_name }}</p>
                    </div>

                    <div id="description">
                        <span class="nickname leftPart" style="font-size: 30px;">{{user.username}}</span>
                        <p class="leftPart">
                            Status: Zadrotina
                        </p>
                        <span class="email leftPart">{{user.email}}</span>
                    </div>

                    <div class="rightPart">
                        <a href="{% url 'accounts:editProfile' %}" title="Edit Profile">
                            <button id="editProfile" style="margin-left: 5%; margin-top: 20%">Edit profile</button>
                        </a>
                    </div>

                </div>

                <div id="profileBottom">
                    <div class="profileBottomContent">
                        <h3>Achievements</h3>
                        <div id="achievements">
                            <div class="achieve firstBlock block"></div>
                            <div class="achieve block"></div>
                            <div class="achieve block"></div>
                            <div class="achieve block"></div>
                            <div class="achieve block"></div>
                            <div class="achieve block"></div>
                        </div>

                        <h3>Favourite games</h3>
                        <div id="listFavGames">
                            <div class="scroll1">
                                {% for post in favourite_post.all %}
                                    <div class="gameItem">
                                        <a href="{% url 'post:detail' post.pk %}" style="text-decoration: none">
                                            <img src="{{ post.image.url }}" title="{{ post.title }}">
                                            <p>{{ post.title }}</p>
                                        </a>
                                    </div>
                                {% empty %}
                                    <h6 class="empty">No Favourite Games</h6>
                                {% endfor %}
                                <button id="slideLeft1" type="button" style="float: left"><<</button>
                                <button id="slideRight1" type="button" style="float: right">>></button>
                            </div>
                        </div>

                        <h3>My Games</h3>
                        <div class="scroll">

                            <div id="userPosts">
                                {% for post in user_posts %}
                                    <div class="gameItem">
                                    <a href="{% url 'post:detail' post.pk %}" style="text-decoration: none">
                                        <img src="{{ post.image.url }}" title="{{ post.title }}">
                                        <p>{{ post.title }}</p>
                                    </a>
                                    </div>
                                    {% empty %}
                                    <h6 class="empty">No Games. Do you want to <a href="{% url 'post:add-post' %}" class="blinking">upload</a> game?</h6>
                                {% endfor %}
                            </div>

                            <button id="slideLeft" type="button" style="float: left"><<</button>
                            <button id="slideRight" type="button" style="float: right">>></button>
                        </div>


                    <br>
                        <a href="{% url 'post:add-post' %}" style="margin-left: 4%" title="Add Game">
                            <button id="editProfile">Add Game</button>
                        </a>
                    </div>
                </div>

        <script>
            const buttonRight = document.getElementById('slideRight');
            const buttonLeft = document.getElementById('slideLeft');

            buttonRight.onclick = function () {
              document.getElementById('userPosts').scrollLeft += 50;
            };
            buttonLeft.onclick = function () {
              document.getElementById('userPosts').scrollLeft -= 50;
            };
        </script>


		</main>
{%  endblock %}